
{cover_enabled, true}.

{erl_opts, [
    debug_info, {parse_transform, lager_transform}
]}.

{artifacts, [
    "src/nkserver_ot_of_lexer.erl",
    "src/nkserver_ot_of_parser.erl"
]}.


{deps, [
    hackney,
    {dynamic_compile, "~>1.0.0"},
    {nklib, {git, "http://github.com/netcomposer/nklib", {branch, "master"}}},
    {nkserver, {git, "http://github.com/netcomposer/nkserver", {branch, "master"}}}
]}.
